<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>

  <!-- Navigation -->
<%- include('layouts/navbar'); -%>

  <!-- Page Header -->
<%- include('layouts/header'); -%>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <% for(var i = 0; i < blogposts.length; i++){ %>
        <div class="post-preview">
          <a href="/post/<%- blogposts[i].id %>">
            <h2 class="post-title">
              <%- blogposts[i].title %>
            </h2>
            <h3 class="post-subtitle">
              <%- blogposts[i].body %>
            </h3>
          </a>
          <a href="/delete/<%- blogposts[i].id %>" class="btn btn-danger">Delete</a>
          <a href="/update/<%- blogposts[i].id %>" class="btn btn-warning">Update</a>
          <p class="post-meta">Posted by
            <a href="#"><%= blogposts[i].userId.username %></a>
            on September 24, 2019</p>
        </div>
        <hr>
   
          <% } %>
        



        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
<%- include('layouts/footer'); -%>

  <!-- Bootstrap core JavaScript -->
<%- include('layouts/scripts'); -%>

</body>

</html>
